.gameHomeScreensMainCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-radius: 0px;
  padding: 20px 40px 40px 20px;
  background: linear-gradient(117.3deg, #834d9b 2.24%, #d04ed6 173.83%);
}
.mainHeading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  padding: 20px;

  /* Light / blue-gray / 50 */

  color: #f8fafc;
}
.emojiMainCon {
  text-decoration: none;
  width: 435px;
  height: 280px;

  text-align: center;
  padding-top: 10px;

  background: #ffffff;
  border-radius: 12px;
  margin: 20px 20px 0px;
  cursor: pointer;
}
.memoryMatrixCardsCon {
  width: 435px;
  height: 280px;

  text-align: center;
  padding-top: 10px;
  text-decoration: none;

  background: #ffffff;
  border-radius: 12px;
  margin: 20px 20px 0px;
  cursor: pointer;
}
.rpsCardsCon {
  width: 435px;
  height: 280px;

  text-align: center;
  padding-top: 10px;
  text-decoration: none;

  background: #ffffff;
  border-radius: 12px;
  margin: 20px 20px 0px;
  cursor: pointer;
}
.cardFlipCardsCon {
  width: 435px;
  height: 280px;

  text-align: center;
  padding-top: 10px;

  background: #ffffff;
  border-radius: 12px;
  margin: 20px 20px 0px;
  cursor: pointer;
  text-decoration: none;
}
.cardsMainCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .cardsMainCon {
    padding-left: 90px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.emojiImg {
  left: 21.88%;
  right: 62.57%;
  top: 23.44%;
  bottom: 58.2%;
}
.cardOneHeading {
  left: 25.14%;
  right: 65.83%;
  top: 43.36%;
  bottom: 53.91%;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  /* Light / blue-gray / 700 */

  color: #334155;
}
.memoryMatrixImg {
  width: 236px;
  height: 176px;
  left: 895px;
  top: 296px;
}
.cardTwoHeading {
  left: 65.69%;
  right: 22.64%;
  top: 23.44%;
  bottom: 73.44%;

  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;

  color: #334155;
}
.rockPaperScissorImg {
  width: 197px;
  height: 176px;
  left: 329px;
  top: 608px;
}
.cardThreeHeading {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;

  color: #334155;
}
.animalsCardFlipGameImg {
  padding: 10px;
  width: 100%;
  height: 232px;
  left: 796px;
  top: 552px;
}
.linkCon {
  text-decoration: none;
}
